@charset "UTF-8";

.Header {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include mq-sp {
        margin-top: 30px;
          margin-bottom: 20px;
        }
    &__main {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    &__head {
        flex: 1 0 750px;
        h1 {
            margin: 0;
        }
        a {
            &:hover {
                opacity: 0.6;
            }
            &:active {
                opacity: 0.6;
            }
        }
        img {
            width: 130px;
            height: 90px;
            @include mq-sp {
                width: 260px;
                height: 180px;
            }
        }
        @include mq-sp {
            flex: 1 0 600px;
        }
    }
    &__body {
        display: flex;
        flex: 1 0 210px;
        justify-content: center;
        align-items: center;
        background: $color-red;
        text-align: center;
        border-radius: 10px;
        padding: 10px 15px 10px 10px;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.8;
        }
        img {
            margin-right: 10px;
        }
        p {
            color: $color-white;
        }
        @include mq-sp {
            flex: 1 0 360px;
            font-size: 34px;
        }
    }

}