@charset "UTF-8";

.Interview {
    display: flex;
    flex-wrap: wrap;
    &__main1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 100%;
        background-image: url("../images/interview-d01.jpg");
        height: 640px;
    }
    &__main2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 100%;
        background-image: url("../images/interview-e01.jpg");
        height: 640px;
    }
    &__main3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 100%;
        background-image: url("../images/interview-s01.jpg");
        height: 640px;
    }
    &__job {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 250px;
        background: $color-red;
        width: 250px;
        text-align: center;
        border-radius: 50%;
        margin-top: 40px;
        margin-right: 40px;
        padding: 20px 20px;
        P {
            font-size: 32px;
            color: $color-white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__topTitle {
        width: 100%;
        background-color: rgba(15, 15, 15, 0.7);
        padding: 0 120px 0 90px;
        p {
            font-size: 34px;
            color: $color-white;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: left;
            &:nth-of-type(1) {
                margin-top: 40px;
            }
            &:nth-of-type(2) {
                margin-bottom: 40px;
                text-align: right;
            }
        }
        @include mq-sp {
            p {
                font-size: 38px;
            }
        }
    }
    &__topTitle2 {
        width: 100%;
        background-color: rgba(15, 15, 15, 0.7);
        padding: 0 200px 0 90px;
        p {
            font-size: 34px;
            color: $color-white;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: left;
            &:nth-of-type(1) {
                margin-top: 40px;
            }
            &:nth-of-type(2) {
                margin-bottom: 40px;
                text-align: right;
            }
        }
        @include mq-sp {
            padding-right: 130px;
            p {
                font-size: 38px;
            }
        }
    }
    &__topTitle3 {
        width: 100%;
        background-color: rgba(15, 15, 15, 0.7);
        padding: 0 240px 0 90px;
        p {
            font-size: 34px;
            color: $color-white;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: left;
            &:nth-of-type(1) {
                margin-top: 40px;
            }
            &:nth-of-type(2) {
                margin-bottom: 40px;
                text-align: right;
            }
        }
        @include mq-sp {
            padding-right: 130px;
            p {
                font-size: 38px;
            }
        }
    }
    &__episode {
        display: flex;
        flex: 0 0 100%;
        margin-top: 20px;
        @include mq-sp {
            margin-top: 40px;
        }
    }
    &__episodeNumber {
        flex: 1 0 12%;
        background: $color-red;
        color: $color-white;
        padding: 15px 15px;
        text-align: center;
        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            &:nth-of-type(2) {
                font-size: 62px;
                margin: 0;
                line-height: 1;
            }
        }
    }
    &__episodeTitle {
        display: flex;
        align-items: center;
        align-self: stretch;
        flex: 1 0 88%;
        padding-left: 20px;
        border: solid 1px $color-red;
        p {
            font-size: 28px;
            line-height: 1;
            margin-left:20px;
        }
        @include mq-sp {
            p {
                font-size: 38px;
            }
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    &__img {
        width: 80%;
        img {
            width: 100%;
            height: auto;
        }
        @include mq-sp {
            width: 100%;
        }
    }
    &__text {
        width: 95%;
        background: $color-white;
        padding: 0 20px;
        position: relative;
        top: -60px;
        left: 60px;
        margin-bottom: -20px;
        p {
            line-height: 1.7;
            text-align: justify;
            text-justify: inter-ideograph;
        }
        @include mq-sp {
            width: 100%;
            top: 0;
            left: 0;
            p {
                font-size: 34px;
            }
        }
    }
    &__img2 {
        width: 80%;
        position: relative;
        left: 192px;
        img {
            width: 100%;
            height: auto;
        }
        @include mq-sp {
            width: 100%;
            left: 0;
        }
    }
    &__text2 {
        width: 95%;
        background: $color-white;
        padding: 0 20px;
        position: relative;
        top: -60px;
        margin-bottom: -20px;
        p {
            line-height: 1.7;
        }
        @include mq-sp {
            width: 100%;
            top: 0;
            left: 0;
            p {
                font-size: 34px;
            }
        }
    }
}