@charset "UTF-8";

//色指定
$color-back: #fff;
$color-main-text: #000;
$color-white: #fff;
$color-red: #AF0000;
$color-red-pale: #EA0000;
$color-grey: #494949;
$color-grey-deep: #262626;
$color-beige: #E2DFD0;
$color-beige-pale: #F7F4E8;

//サイズ指定
$base-content-width: 980px;
$space-unit: 20px;
$sp-space-unit: 15px;

//break points
$sp-max-width: 640px;
$pc-min-width: 641px;